
@{
    ViewBag.Title = "Denied";
}

<h2>Denied!</h2>
<p>If you can head this, it's because you weren't invited and have been redirected to the deny action</p>
<p>@Html.ActionLink("Go Home", "Index") and try again with an invite</p>

