
@{
    ViewBag.Title = "InviteOnlyActionAsAuthenticated";
}

<h2>InviteOnlyActionAsAuthenticated</h2>
<p>
    If you can see this, then either you were invited OR you are an authenticated user
</p>
@if(ViewBag.IsAuthenticated)
{
    
}
else
{
    
}

